<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e2f3a4-b5c6-7890-abcd-ef1234567891" Alias="National Master Library" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000" />
    <Path>/NationalMasterLibrary</Path>
    <ContentType>simulationMaster</ContentType>
    <CreateDate>2026-04-14T10:00:00</CreateDate>
    <NodeName Default="National Master Library" />
    <SortOrder>0</SortOrder>
    <Published Default="True" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <simTitle>
      <Value><![CDATA[JA BizTown Standard v3.0]]></Value>
    </simTitle>
    <defaultScenario>
      <Value><![CDATA[Standard Economy Model with Market Equilibrium scenario.]]></Value>
    </defaultScenario>
  </Properties>
</Content>
