<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2f3a4b5-c6d7-8901-bcde-f12345678912" Alias="JA San Diego Simulation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000" />
    <Path>/JASanDiegoSimulation</Path>
    <ContentType>simulationLocal</ContentType>
    <CreateDate>2026-04-14T10:05:00</CreateDate>
    <NodeName Default="JA San Diego Simulation" />
    <SortOrder>1</SortOrder>
    <Published Default="True" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <simTitle>
      <Value><![CDATA[JA BizTown - San Diego Edition]]></Value>
    </simTitle>
    <defaultScenario>
      <Value><![CDATA[Standard Economy Model (Inherited)]]></Value>
    </defaultScenario>
    <localSponsor>
      <Value><![CDATA[San Diego Credit Union]]></Value>
    </localSponsor>
  </Properties>
</Content>
