<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100002-0002-0001-0001-000000000001" Alias="Choose Your Template" Level="2">
  <Info>
    <Parent Key="dd100001-0001-0001-0001-000000000001">JA BizTown Ad Creator</Parent>
    <Path>/JABizTownAdCreator/ChooseYourTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>designMissionStep</ContentType>
    <CreateDate>2026-04-15T12:05:01</CreateDate>
    <NodeName Default="Choose Your Template" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stepInstruction>
      <Value><![CDATA[Pick a layout for your business.]]></Value>
    </stepInstruction>
    <stepNumber>
      <Value><![CDATA[1]]></Value>
    </stepNumber>
    <stepTitle>
      <Value><![CDATA[Choose Your Template]]></Value>
    </stepTitle>
  </Properties>
</Content>