<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100003-0003-0001-0001-000000000002" Alias="Food and Drink" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FoodAndDrink</Path>
    <Trashed>false</Trashed>
    <ContentType>adTemplate</ContentType>
    <CreateDate>2026-04-15T12:10:02</CreateDate>
    <NodeName Default="Food and Drink" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedBackgrounds>
      <Value><![CDATA[]]></Value>
    </allowedBackgrounds>
    <allowedIcons>
      <Value><![CDATA[]]></Value>
    </allowedIcons>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <templateDescription>
      <Value><![CDATA[Vibrant colourful layout for food.]]></Value>
    </templateDescription>
    <templateName>
      <Value><![CDATA[Food and Drink]]></Value>
    </templateName>
  </Properties>
</Content>