<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100001-0001-0001-0001-000000000001" Alias="JA BizTown Ad Creator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JABizTownAdCreator</Path>
    <Trashed>false</Trashed>
    <ContentType>marketingToolConfig</ContentType>
    <CreateDate>2026-04-15T12:00:00</CreateDate>
    <NodeName Default="JA BizTown Ad Creator" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <simulationYear>
      <Value><![CDATA[2026]]></Value>
    </simulationYear>
    <toolTitle>
      <Value><![CDATA[JA BizTown Ad Creator]]></Value>
    </toolTitle>
    <welcomeMessage>
      <Value><![CDATA[Welcome! Design your business advertisement step by step.]]></Value>
    </welcomeMessage>
  </Properties>
</Content>