<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f53d4bf-1a68-4e95-96fb-a4940c5272a8" Alias="JA San Diego Simulation" Level="2">
  <Info>
    <Parent Key="78b032a5-5b73-4f15-84a6-8caf62542964">National Master Library</Parent>
    <Path>/NationalMasterLibrary/JASanDiegoSimulation</Path>
    <Trashed>false</Trashed>
    <ContentType>localSimulation</ContentType>
    <CreateDate>2026-04-14T14:18:59</CreateDate>
    <NodeName Default="JA San Diego Simulation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <globalRuleset>
      <Value><![CDATA[]]></Value>
    </globalRuleset>
    <localOfficeName>
      <Value><![CDATA[San Diego Regional Office]]></Value>
    </localOfficeName>
    <masterSimulationID>
      <Value><![CDATA[]]></Value>
    </masterSimulationID>
    <masterSource>
      <Value><![CDATA[umb://document/78b032a55b734f1584a68caf62542964]]></Value>
    </masterSource>
  </Properties>
</Content>