<?xml version="1.0" encoding="utf-8"?>
<Content Key="4097eba2-dec6-42b1-b763-7bcf1e4a1e86" Alias="Los Angeles Simulation" Level="2">
  <Info>
    <Parent Key="78b032a5-5b73-4f15-84a6-8caf62542964">National Master Library</Parent>
    <Path>/NationalMasterLibrary/LosAngelesSimulation</Path>
    <Trashed>false</Trashed>
    <ContentType>localSimulation</ContentType>
    <CreateDate>2026-04-14T14:30:52</CreateDate>
    <NodeName Default="Los Angeles Simulation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <globalRuleset>
      <Value><![CDATA[]]></Value>
    </globalRuleset>
    <localOfficeName>
      <Value><![CDATA[Los Angeles Regional Office]]></Value>
    </localOfficeName>
    <masterSimulationID>
      <Value><![CDATA[]]></Value>
    </masterSimulationID>
    <masterSource>
      <Value><![CDATA[umb://document/78b032a55b734f1584a68caf62542964]]></Value>
    </masterSource>
  </Properties>
</Content>