<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100002-0002-0001-0001-000000000003" Alias="Name Your Business" Level="2">
  <Info>
    <Parent Key="dd100001-0001-0001-0001-000000000001">JA BizTown Ad Creator</Parent>
    <Path>/JABizTownAdCreator/NameYourBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>designMissionStep</ContentType>
    <CreateDate>2026-04-15T12:05:03</CreateDate>
    <NodeName Default="Name Your Business" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stepInstruction>
      <Value><![CDATA[Enter your business name.]]></Value>
    </stepInstruction>
    <stepNumber>
      <Value><![CDATA[3]]></Value>
    </stepNumber>
    <stepTitle>
      <Value><![CDATA[Name Your Business]]></Value>
    </stepTitle>
  </Properties>
</Content>