<?xml version="1.0" encoding="utf-8"?>
<Content Key="11d09387-6e26-4ddf-969b-2b5c1acdfc25" Alias="National Master Template" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NationalMasterTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>simulationMasterV2</ContentType>
    <CreateDate>2026-04-14T13:47:06</CreateDate>
    <NodeName Default="National Master Template" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <globalRuleset>
      <Value><![CDATA[Default JA USA Ruleset Applied.]]></Value>
    </globalRuleset>
    <masterSimulationID>
      <Value><![CDATA[NAT-2026-v1]]></Value>
    </masterSimulationID>
  </Properties>
</Content>