<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100002-0002-0001-0001-000000000002" Alias="Pick a Background" Level="2">
  <Info>
    <Parent Key="dd100001-0001-0001-0001-000000000001">JA BizTown Ad Creator</Parent>
    <Path>/JABizTownAdCreator/PickABackground</Path>
    <Trashed>false</Trashed>
    <ContentType>designMissionStep</ContentType>
    <CreateDate>2026-04-15T12:05:02</CreateDate>
    <NodeName Default="Pick a Background" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stepInstruction>
      <Value><![CDATA[Select a background image.]]></Value>
    </stepInstruction>
    <stepNumber>
      <Value><![CDATA[2]]></Value>
    </stepNumber>
    <stepTitle>
      <Value><![CDATA[Pick a Background]]></Value>
    </stepTitle>
  </Properties>
</Content>