<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100002-0002-0001-0001-000000000005" Alias="Preview and Submit" Level="2">
  <Info>
    <Parent Key="dd100001-0001-0001-0001-000000000001">JA BizTown Ad Creator</Parent>
    <Path>/JABizTownAdCreator/PreviewAndSubmit</Path>
    <Trashed>false</Trashed>
    <ContentType>designMissionStep</ContentType>
    <CreateDate>2026-04-15T12:05:05</CreateDate>
    <NodeName Default="Preview and Submit" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stepInstruction>
      <Value><![CDATA[Review your ad and submit.]]></Value>
    </stepInstruction>
    <stepNumber>
      <Value><![CDATA[5]]></Value>
    </stepNumber>
    <stepTitle>
      <Value><![CDATA[Preview and Submit]]></Value>
    </stepTitle>
  </Properties>
</Content>