<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100003-0003-0001-0001-000000000001" Alias="Retail Classic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RetailClassic</Path>
    <Trashed>false</Trashed>
    <ContentType>adTemplate</ContentType>
    <CreateDate>2026-04-15T12:10:01</CreateDate>
    <NodeName Default="Retail Classic" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedBackgrounds>
      <Value><![CDATA[]]></Value>
    </allowedBackgrounds>
    <allowedIcons>
      <Value><![CDATA[]]></Value>
    </allowedIcons>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <templateDescription>
      <Value><![CDATA[Clean professional layout for retail.]]></Value>
    </templateDescription>
    <templateName>
      <Value><![CDATA[Retail Classic]]></Value>
    </templateName>
  </Properties>
</Content>