<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100002-0002-0001-0001-000000000004" Alias="Create Your Slogan" Level="2">
  <Info>
    <Parent Key="dd100001-0001-0001-0001-000000000001">JA BizTown Ad Creator</Parent>
    <Path>/JABizTownAdCreator/CreateYourSlogan</Path>
    <Trashed>false</Trashed>
    <ContentType>designMissionStep</ContentType>
    <CreateDate>2026-04-15T12:05:04</CreateDate>
    <NodeName Default="Create Your Slogan" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stepNumber>
      <Value><![CDATA[4]]></Value>
    </stepNumber>
    <stepTitle>
      <Value><![CDATA[Create Your Slogan]]></Value>
    </stepTitle>
    <stepInstruction>
      <Value><![CDATA[Write a catchy tagline.]]></Value>
    </stepInstruction>
    <componentKey>
      <Value><![CDATA[SLOGAN_EDITOR]]></Value>
    </componentKey>
  </Properties>
</Content>
