<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100004-0004-0001-0001-000000000001" Alias="Student Submissions JA San Diego 2026" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StudentSubmissionsJASanDiego2026</Path>
    <Trashed>false</Trashed>
    <ContentType>submissionsFolder</ContentType>
    <CreateDate>2026-04-15T12:20:00</CreateDate>
    <NodeName Default="Student Submissions JA San Diego 2026" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sessionLabel>
      <Value><![CDATA[JA-SD-2026]]></Value>
    </sessionLabel>
  </Properties>
</Content>