<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd100003-0003-0001-0001-000000000003" Alias="Tech Innovation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TechInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>adTemplate</ContentType>
    <CreateDate>2026-04-15T12:10:03</CreateDate>
    <NodeName Default="Tech Innovation" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedBackgrounds>
      <Value><![CDATA[]]></Value>
    </allowedBackgrounds>
    <allowedIcons>
      <Value><![CDATA[]]></Value>
    </allowedIcons>
    <previewImage>
      <Value><![CDATA[]]></Value>
    </previewImage>
    <templateDescription>
      <Value><![CDATA[Sleek minimal layout for tech.]]></Value>
    </templateDescription>
    <templateName>
      <Value><![CDATA[Tech Innovation]]></Value>
    </templateName>
  </Properties>
</Content>