node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
build
logs
.cursorrules
.cursorignore
api/bin
api/obj
web-app/node_modules
web-app/build
web-app/logs
loginlist.txt 
