<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c3d9d0e-2e3b-5d4c-9f2a-5f3b4c5d6e7f" Alias="simulationLocal" Level="1">
  <Info>
    <Name>Local Simulation Template</Name>
    <Icon>icon-map-location color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Local JA Area overrides for the National Master</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>False</IsElement>
    <Compositions>
      <Composition Key="7b2b8c9d-1d2a-4c3b-8e1f-4f2a3b4c5d6e">simulationMaster</Composition>
    </Compositions>
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>c3d4e5f6-a7b8-9012-cdef-012345678902</Key>
      <Name>Local Sponsor Logo</Name>
      <Alias>localSponsor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
    </GenericProperty>
  </GenericProperties>
</ContentType>
