<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8f13753-1097-4b53-a1b5-9f675a5fac18" Alias="localSimulation" Level="1">
  <Info>
    <Name>Local Simulation</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f003458c-2053-4f51-808e-0d8abd1e4f8a">simulationMaster</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f003458c-2053-4f51-808e-0d8abd1e4f8a" SortOrder="0">simulationMaster</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d352b919-9c12-4b21-987d-6c6bc41114c2</Key>
      <Name>Local Office Name</Name>
      <Alias>localOfficeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="localOverrides">Local Overrides</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d373dc0-5f0c-4bde-b39c-fd3ddcf50093</Key>
      <Name>Master Source</Name>
      <Alias>masterSource</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="localOverrides">Local Overrides</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>52353c4d-6eba-4008-acb9-c2b9433da346</Key>
      <Caption>Local Overrides</Caption>
      <Alias>localOverrides</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>