<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd000002-0002-0002-0002-000000000002" Alias="adDimensions" DatabaseType="Nvarchar"
          EditorAlias="Umbraco.DropDown.Flexible" Level="1">
  <Info>
    <Name>Ad Dimensions</Name>
    <FolderKey>00000000-0000-0000-0000-000000000000</FolderKey>
  </Info>
  <Config>
    <PreValues>
      <PreValue Alias="multiple"><![CDATA[0]]></PreValue>
      <PreValue Alias="items">
        <Item Value="Landscape" />
        <Item Value="Portrait" />
        <Item Value="Square" />
      </PreValue>
    </PreValues>
  </Config>
</DataType>