<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd000003-0003-0003-0003-000000000003" Alias="componentKey" DatabaseType="Nvarchar"
          EditorAlias="Umbraco.DropDown.Flexible" Level="1">
  <Info>
    <Name>Component Key</Name>
    <FolderKey>00000000-0000-0000-0000-000000000000</FolderKey>
  </Info>
  <Config>
    <PreValues>
      <PreValue Alias="multiple"><![CDATA[0]]></PreValue>
      <PreValue Alias="items">
        <Item Value="TEMPLATE_PICKER" />
        <Item Value="BACKGROUND_PICKER" />
        <Item Value="BUSINESS_NAME_EDITOR" />
        <Item Value="SLOGAN_EDITOR" />
        <Item Value="PREVIEW_AND_SUBMIT" />
      </PreValue>
    </PreValues>
  </Config>
</DataType>