<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd000001-0001-0001-0001-000000000001" Alias="submissionStatus" DatabaseType="Nvarchar"
          EditorAlias="Umbraco.DropDown.Flexible" Level="1">
  <Info>
    <Name>Submission Status</Name>
    <FolderKey>00000000-0000-0000-0000-000000000000</FolderKey>
  </Info>
  <Config>
    <PreValues>
      <PreValue Alias="multiple"><![CDATA[0]]></PreValue>
      <PreValue Alias="items">
        <Item Value="Draft" />
        <Item Value="Submitted" />
        <Item Value="Approved" />
      </PreValue>
    </PreValues>
  </Config>
</DataType>